@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src:
    url("fonts/Roboto-400-normal.woff2") format("woff2"),
    url("fonts/Roboto-400-normal.woff") format("woff"),
    url("fonts/Roboto-400-normal.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src:
    url("fonts/Roboto-500-normal.woff2") format("woff2"),
    url("fonts/Roboto-500-normal.woff") format("woff"),
    url("fonts/Roboto-500-normal.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src:
    url("fonts/Montserrat-500-normal.woff2") format("woff2"),
    url("fonts/Montserrat-500-normal.woff") format("woff"),
    url("fonts/Montserrat-500-normal.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src:
    url("fonts/Montserrat-700-normal.woff2") format("woff2"),
    url("fonts/Montserrat-700-normal.woff") format("woff"),
    url("fonts/Montserrat-700-normal.ttf") format("truetype");
}

:root {
  --primary-color: #9F7DE1;
  --text-color: #222;
  --bg-color: hsl(0, 0%, 93%);
  --bg-card-color: hsl(0, 0%, 98%);
  --border-radius: 0.4em;
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --skills-bar-length: 0%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: "Montserrat", sans-serif;
}

body.dark {
  --text-color: hsl(0, 0%, 93%);
  --bg-color: #090A0B;
  --bg-card-color: #414148;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 75px;
  padding: 0 2em;
  transition: var(--transition);
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle-theme__icon {
  margin-right: 0.5em;
  width: 20px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  transition: var(--transition);
}